@tailwind base;
@tailwind components;
@tailwind utilities;

.nav_link {
    @apply ml-8 border-b-2 border-white h-full flex items-center;
    a{
        @apply py-10 px-5;
    }
    &:hover {
        @apply border-gray-600;
    }
}

.btn {
    @apply rounded-sm py-5 font-medium text-lg w-full text-center;
}

.btn-link {
    @apply py-3 rounded-lg font-medium text-lg w-full text-center text-white bg-red-500;
}

input,
textarea,
select {
    @apply rounded-sm py-5 font-medium text-lg text-left w-full border-2 border-gray-500 px-5;
    &:focus {
            @apply outline-none border-teal-500;
        }
}

textarea {
    resize: none;
    height: 150px;
}

form {
    .input {
        @apply mb-3;
        &.has_error {
            input {
                @apply bg-red-200 border-gray-600;
                &:focus {
                    @apply border-gray-600;
                }
            }
        }
    }
}

@keyframes messageFadeIn {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    5%{
        opacity: 1;
        transform: translateY(50px);
    }
    95%{
        opacity: 1;
        transform: translateY(50px);
    }
    100%{
        opacity: 0;
        transform: translateY(-50px);
    }
}

.message{
    animation: messageFadeIn 3s ease-in-out forwards;
    &.error{
        @apply bg-red-500;
    }
    &.info{
        @apply bg-blue-500;
    }
    &.success{
        @apply bg-green-500;
    }
    &.warning{
        @apply bg-yellow-600;
    }
}